.container {
  box-sizing: border-box;
  border: solid 2px black;
  width: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headings {
  justify-content: left;
}

.box {
  box-sizing: border-box;
  border: 2px solid black;
  width: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
